@import url(reset.css);
@import url(grid.css);
@import url(fontrs.css);

:root {
    --base-green: #3BB77E;
    --light-green: #DEF9EC;
    --black: #253D4E;
    --gray: #ADADAD;
    --white: #FFFFFF;

    --primary-font: "Quicksand Medium", "Arial", sans-serif;
    --secondary-font-semi-bold: "Quicksand SemiBold", "Arial", sans-serif;
    --secondary-font-bold: "Quicksand Bold", "Arial", sans-serif;

    --icon-xs: 1.2rem;
    --icon-sm: 1.6rem;
    --icon-md: 1.8rem;
    --icon-xl: 2rem;
    --icon-xxl: 2.4rem;
}

/* Helper Class */

.blush{
    background-color: #FEEFEA;
}
.purple{
    background-color: #FFF3FF;
}
.light_green{
    background-color: #F2FCE4;
}
.green{
    background-color: #ECFFEC;
}
.light_brown{
    background-color: #FFFCEB;
}
.light_blue{
    background-color: #DEF9EC;
}
.active{
    color: var(--base-green);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    color: var(--black);
}

.icon_pack {
    display: none;
}

.icon--xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
}

.icon--sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
}

.icon--md {
    width: var(--icon-md);
    height: var(--icon-md);
}

.icon--xl {
    width: var(--icon-xl);
    height: var(--icon-xl);
}

.icon--xxl {
    width: var(--icon-xxl);
    height: var(--icon-xxl);
}


.icon_logo {
    width: 3.9rem;
    height: 3.9rem;
}



/* 

Header

*/

/* Nav Top */

.header {}

.nav_top {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0;
    border-bottom: 1px solid rgba(173, 173, 173, .17);
}

.logo_box {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.icon_logo {}

.logo_title_box {
    display: flex;
    flex-direction: column;
}

.logo_title_up {
    color: var(--base-green);
    font-family: var(--secondary-font-bold);
    font-size: 2.1rem;
}

.logo_title_down {
    font-size: 1.4rem;
    color: var(--gray);

}

/* Search Bar */

.search_bar {
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    width: 49.7rem;
    height: 4.2rem;

}

.category {
    border: none;
    background-color: transparent;
    margin-right: 1.2rem;
    padding-left: 1.2rem;
    cursor: pointer;
    outline: none;
}

.search_input {
    border: none;
    outline: none;
    background-color: transparent;
    border-left: 1px solid var(--gray);
    padding-left: 1.2rem;
    flex: 1;
    font-size: 1.4rem;

}

.search_btn {
    border: none;
    background-color: var(--base-green);
    height: 4.2rem;
    cursor: pointer;

}

.icon_search {}

/* Header Actions */

.header_actions {
    display: flex;
    align-items: center;
    gap: 5.3rem;
}

.icon_heart {
    width: 100%;
    height: 100%;
}

.ation_item_text {
    font-size: 1.2rem;
}

.ation_item_text_number {
    color: var(--base-green);
}

.action_item {
    display: inline-flex;
    align-items: center;
    gap: .8rem;
}

.action_item_icon_wraper {
    display: inline-flex;
    width: 2.4rem;
    height: 2.4rem;
}

.icon_shopping {
    width: 100%;
    height: 100%;

}

.action_item_text_wrapper {
    display: flex;
    flex-direction: column;

}

.icon_arrow {}

.user_profile {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user_profile_link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user_profile_img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}


/* Nav bottom */

.nav_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.headr_btn {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 21.8rem;
    width: 100%;
    min-width: fit-content;
    background-color: var(--base-green);
    padding: 1.4rem 0;
    gap: .9rem;
    color: var(--white);
    border-radius: .2rem;
    font-family: var(--secondary-font-semi-bold);
    cursor: pointer;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.nav_menu_item {}

.nav_menu_link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header_information {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
}

.header_information_number {
    font-family: var(--secondary-font-semi-bold);
    font-size: 1.8rem;
    color: var(--base-green);
}

.header_information_text {
    font-size: 1.4rem;
}

.nav_menu_link--active {
    color: var(--base-green);
}

/* 

Main

*/




/* Daily Deals */

.daily_deals {
    background: url("../images/Rectangle\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 47.7rem;
    position: relative;
    margin-bottom: 10rem;
}

.daily_deals_green_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(194, 234, 217, .78);
}

.daily_deals_header {}

.daily_deals_title {
    font-size: 5.5rem;
    font-family: var(--secondary-font-bold);
    max-width: 53.2rem;
    margin-top: 8.9rem;
}

.daily_deals_caption {
    color: #838383;
    font-size: 2rem;
    margin-top: 2.9rem;
}

.daily_deals_email_box {
    margin-top: 5.4rem;
    background-color: var(--white);
    width: 43.7rem;
    height: 5.2rem;
    display: flex;
}

.daily_deals_input {
    border: none;
    outline: none;
    flex: 1;
}

.daily_deals_btn {
    border: none;
    outline: none;
    max-width: 10.8rem;
    width: 100%;
    background-color: var(--base-green);
    color: var(--white);
    font-family: var(--secondary-font-semi-bold);
    cursor: pointer;
}

.daily_deals_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
}


/* Explore */

.explore {}

.explore_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore_title {
    font-family: var(--secondary-font-semi-bold);
    font-size: 3.2rem;
}

.explore_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore_menu_item {
    cursor: pointer;
}
.explore_menu_item--active{
    color: var(--base-green);
}

.explore_cards {
    margin-top: 3.7rem;
    display: flex;
    justify-content: space-between;
}

.explore_card {
    padding: 1.3rem 2.5rem 1.9rem 2.7rem;
    text-align: center;
    border-radius: .3rem;
    min-height: 19.4rem;
}

.explore_card_img {
    width: 10.1rem;
    height: 10.1rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.explore_card_title {
    margin-bottom: .5rem;
    font-size: 1.8rem;
    font-family: var(--secondary-font-semi-bold);
}

.explore_card_count {
    font-size: 1.4rem;
    color: var(--gray);
}